#grid {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55svw;
  width: 96svw;
  border-collapse: collapse;
  background: transparent;
}

td.heading-td {
  height: 5svw;
  width: 48svw;
}

td.visual-td {
  height: 48svw;
  width: 48svw;
}

.on-emotion-0,
.on-emotion-1,
.on-emotion-2,
.on-emotion-3,
.on-emotion-4,
.on-emotion-5,
.on-emotion-6,
.on-emotion-7 {
  background-size: 48svw;
}

.on-letter-0::after,
.on-letter-1::after,
.on-letter-2::after,
.on-letter-3::after,
.on-letter-4::after,
.on-letter-5::after,
.on-letter-6::after,
.on-letter-7::after {
  font-size: 47.9svw;
  line-height: 1;
}

#status-bar {
  padding-top: 2svh;
}

#status-bar * {
  width: 100%;
  font-size: 9svh;
  text-align: center;
}

#N-level {
  font-size: 4svh;
}

#engine-btn {
  top: 2svh;
  right: 2svh;
}

#eye-left-btn,
#eye-right-btn,
#ear-left-btn,
#ear-right-btn {
  position: absolute;
  font-size: 5svh;
  width: 49.5svw;
  height: 10svh;
  line-height: 9.5svh;
}

#eye-right-btn, 
#eye-left-btn {
  bottom: 10.65svh;
}

#ear-left-btn,
#ear-right-btn {
  bottom: 0;
}

#eye-left-btn {
  left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width: 1px;
}

#eye-right-btn {
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-width: 1px;
}

#ear-left-btn {
  left: 0;
  border-top-right-radius: 4px;
  border-width: 1px;
}

#ear-right-btn {
  right: 0;
  border-top-left-radius: 4px;
  border-width: 1px;
}

#eye-left-btn:before {
  content: "Vis Left";
}

#eye-right-btn:before {
  content: "Vis Right";
}

#ear-left-btn:before {
  content: "Snd Left";
}

#ear-right-btn:before {
  content: "Snd Right";
}

#progress-outer {
  height: 1svh!important;
}

.results-icons td,
.results-text {
  color: #fffff1;
  font-size: 4svh;
  padding: 1svh;
}

.ct-label {
  font-size: 3svh;
}

.btn-standard {
  font-size: 4svh;
  padding: 1svh 1.5svh;
}

.btn-popup {
  width: 7svh;
  height: 7svh;
  font-size: 4svh;
}

.btn-popup.normal {
  top: 2svh;
  right: 2svh;
}

.btn-popup.reflected {
  top: 13svh;
  left: 2svh;
}

#navigation {
  padding: 2svh;
}

.nav-item input,
.nav-item select {
  margin-bottom: 10px;
}

label[for="nav-trigger"] {
  top: 2svh;
  left: 2svh;
  width: 6svh;
  height: 6svh;
}

#nav-trigger:checked+label {
  left: 37svh;
}

#nav-trigger:checked~#site-wrap {
  left: 35svh;
}

#nav-trigger+label,
#site-wrap {
  transition: left 0.2s;
}

.nav-item label,
.nav-item p,
.nav-item span.range-label {
  width: 31svh;
  color: #fffff1;
  font-size: 3svh;
  font-weight: 700;
}

.nav-item input,
.nav-item select {
  display: block;
  width: 31svh!important;
  font-size: 3svh;
  border: 0;
  border-radius: 4px;
}

input[type=range].slider::-webkit-slider-runnable-track,
.nav-item input,
.nav-item select {
  height: 5svh;
}

input[type=range].slider::-webkit-slider-thumb {
  height: 5svh;
  width: 3.67svh;
}
